<!-- views/pages/jellybean/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../../partials/head %>
    <script>
      System.import('jellybean').catch(function(err){ console.error(err); });
    </script>
</head>
<body class="container">

    <header>
        <% include ../../partials/header %>
    </header>

    <main>
        <my-app>Loading...</my-app>
    </main>

    <footer>
        <% include ../../partials/footer %>
    </footer>
    
</body>
</html>