<!-- views/pages/jellybean/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../../partials/head %>
    <script>
      System.import('jellybean').catch(function(err){ console.error(err); });
    </script>
</head>
<body class="container">

    <header>
        <% include ../../partials/header %>
    </header>

    <main>
        <h1>The Monty Hall Problem Simulator</h1>
        <p>
            This is one of my favorite puzzles/problems/brain teasers of all time, I remember the first time I heard about it I was not able to believe that the probability actually changed.
            Here is the explanation extracted from Wikipedia:
        </p>
        <blockquote>
        <p>
            The Monty Hall problem is a brain teaser, in the form of a probability puzzle (Gruber, Krauss and others), loosely based on the American television game show Let's Make a Deal and named after its original host, Monty Hall. The problem was originally posed in a letter by Steve Selvin to the American Statistician in 1975 (Selvin 1975a), (Selvin 1975b). It became famous as a question from a reader's letter quoted in Marilyn vos Savant's "Ask Marilyn" column in Parade magazine in 1990 (vos Savant 1990a):
        </p>
        <p>
            Suppose you're on a game show, and you're given the choice of three doors: Behind one door is a car; behind the others, goats. You pick a door, say No. 1, and the host, who knows what's behind the doors, opens another door, say No. 3, which has a goat. He then says to you, "Do you want to pick door No. 2?" Is it to your advantage to switch your choice?
        </p>
        <p>
            Vos Savant's response was that the contestant should switch to the other door (vos Savant 1990a). Under the standard assumptions, contestants who switch have a 2/3 chance of winning the car, while contestants who stick to their initial choice have only a 1/3 chance.
        </p>
        <p>
            The given probabilities depend on specific assumptions about how the host and contestant choose their doors. A key insight is that, under these standard conditions, there is more information about doors 2 and 3 that was not available at the beginning of the game, when the door 1 was chosen by the player: the host's deliberate action adds value to the door he did not choose to eliminate, but not to the one chosen by the contestant originally. Another insight is that switching doors is a different action than choosing between the two remaining doors at random, as the first action uses the previous information and the latter does not. Other possible behaviors than the one described can reveal different additional information, or none at all, and yield different probabilities.
        </p>
        <footer>Wikipedia <cite title="Monty Hall problem"><a href="https://en.wikipedia.org/wiki/Monty_Hall_problem">Monty Hall problem</a></cite></footer>
        </blockquote>
        <p>
            An interesting article:<br />
            <a href="https://priceonomics.com/the-time-everyone-corrected-the-worlds-smartest/">The Time Everyone “Corrected” the World’s Smartest Woman</a><br />
        </p>
        <h1>My Implementation</h1>
        <p>
            Just enter the number of test you want to run, this is how many times you want the contestant to try to select the winner door.
        </p>
        <p>
            Also you can decide wether you want the contestant to always switch, to never switch or just randomly decide to switch or not.
        </p>
        <p>
            The results of every test are shown in the little console below.
        </p>
        <p>
            The higher the number of tests, the more obvious is the change of probability.
        </p>
        <br />
        <div class="panel panel-default">
            <div class="panel-body">
                <my-app>Loading...</my-app>
                Github: <a href="https://github.com/xaratustra/jellybeanangular">Monty Hall (jellybean)</a>
            </div>
        </div>
    </main>

    <footer>
        <% include ../../partials/footer %>
    </footer>
    
</body>
</html>