<h1>Jellybean Riddle Simulator</h1>
<div class="row-fluid">
    <div class="col-md-2">
        <div class="form-group">
            <label for = "numberOfTests">Number of Tests:</label>
            <input id = "numberOfTests" class="form-control" [(ngModel)] = "numberOfTests" />
        </div>
        <div class="form-group">
            <input type="radio" name="mode" value="0" [(ngModel)] = "mode" />Never Switch<br/>
            <input type="radio" name="mode" value="1" [(ngModel)] = "mode" checked/>Always Switch<br/>
            <input type="radio" name="mode" value="2" [(ngModel)] = "mode" />Random Switch
        </div>
        <div class="form-group">
            <button (click) = "runTests()"> Run </button>
        </div>
    </div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-3"><h3><i class="fa fa-thumbs-up fa-1x"></i> Alive</h3></div><div class="col-md-3"><h3><i class="fa fa-thumbs-down fa-1x"></i> Dead</h3></div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <span>{{results.aliveCount}}</span><br/>
                <span>{{results.alivePct}}%</span>
            </div>
            <div class="col-md-3">
                <span>{{results.deadCount}}</span><br/>
                <span>{{results.deadPct}}%</span>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <my-app-console #console>Loading...</my-app-console>
</div>
